
@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        <h1>Epic-Shipping</h1>
        <h3>Consegne veloci ed affidabili</h3>
    </div>
    <div>
        <div>
            <div>
                <h2>Sei gia un cliente?</h2>
                <p>Trova la tua spedizione!</p>
            </div>
        </div>
        <div>
            <div>
                <h2>Sei un amministratore?</h2>
                <p>Effettua l'accesso!</p>
            </div>
        </div>
    </div>
</div>

