
@{
    ViewBag.Title = "Delete";
}





@using (Html.BeginForm())
{
    <h2>Sicuro di voler rimuovere il prodotto dal database?</h2>
    <button type="submit" class="btn btn-danger">RIMUOVI PRODOTTO</button>
}

